:root {
  --rouge: #d7132d;
  --bleu: #061148;
  --gris: #292728;
  --blanc: #ffff;
  --noir: #000;

  --Madimi: "Madimi One", sans-serif;
}

/*---- styles généraux ----*/
body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  font-family: var(--Madimi);
  overflow-x: hidden;
  background-color: var(--gris);
  background-color: var(--blanc);
}

header {
  background-image: url(../img/autres/background.jpg);
  color: var(--blanc);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

header p {
  font-size: 30px;
  margin: auto;
}

header img {
  width: 8vw;
  height: 8vh;
  margin: 0 auto;
}

header h1 {
  margin: 0px;
  margin-bottom: 20vh;
  font-size: 15vw;
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}

/*img {
  border: 1px solid red;
}*/

/*---- START chapitre 1 ----*/
#chapitre-1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap1/espace.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#text-1 {
  color: var(--blanc);
  position: absolute;
  width: 50vw;
  font-size: 6vh;
  left: 15vw;
  text-align: center;
  bottom: 5vh;
}

#lune {
  width: 15vw;
  height: 30vh;
  position: absolute;
  left: 60vw;
  bottom: 35vh;
}

#terre {
  height: 60vh;
  width: 25vw;
  position: absolute;
  left: 65vw;
  bottom: 20vh;
}

#meteorite {
  position: absolute;
  height: 45vh;
  width: 25vw;
  top: 10vh;
  left: 10vw;
}
/*---- FIN chapitre 1 ----*/

/*---- START chapitre 2 ----*/
#chapitre-2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap2/fond.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#text-2 {
  color: var(--blanc);
  position: absolute;
  font-size: 5vh;
  height: 30vh;
  width: 7vw;
  top: 0;
  left: 15vw;
}

#kevin {
  position: absolute;
  height: 43.5vh;
  width: 11.4vw;
  left: 44vw;
  bottom: 15vh;
}

#sofa {
  position: absolute;
  width: 29.3vw;
  height: 38.7vh;
  bottom: 1vh;
  left: 35vw;
}
/*---- FIN chapitre 2 ----*/

/*---- START chapitre 3 ----*/
#chapitre-3 {
  background-image: url(../img/elements_chap3/fond_arriere.svg);
  position: relative;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#text-3 {
  color: var(--blanc);
  font-size: 4vh;
  position: absolute;
  top: 32vh;
  left: 52vw;
  height: 10vh;
  width: 30vw;
}

#fond_avant {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  left: 0;
  bottom: 0;
}

#kev2 {
  position: absolute;
  height: 39.5vh;
  width: 9.5;
  bottom: 5vh;
  left: 39vw;
}

#pince {
  position: absolute;
  height: 42.5vh;
  width: 12.4vw;
  top: 10vh;
  left: 37vw;
}

#casque {
  position: absolute;
  height: 14vh;
  width: 8.75vw;
  left: 38.8vw;
  bottom: 40vh;
}
/*---- FIN chapitre 3 ----*/

/*---- START chapitre 4 ----*/
#chapitre-4 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap4/fond.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#text-4 {
  position: absolute;
  color: var(--blanc);
  font-size: 6vh;
  width: 30vw;
  top: 10vh;
  left: 32vw;
}

#spaceship {
  position: absolute;
  height: 77.7vh;
  width: 20.34;
  bottom: 3vh;
  right: 18vw;
}

#stairs {
  position: absolute;
  height: 30.4vh;
  width: 17.4vw;
  right: 33vw;
  bottom: 5vh;
}

/*#feufeu {
  position: absolute;
  height: 13.6vh;
  width: 6.5vw;
  bottom: 2vh;
  right: 25vw;
}*/

#kev3 {
  position: absolute;
  height: 28.1vh;
  width: 6.6;
  bottom: 2vh;
  left: 30vw;
}

#nuage1 {
  position: absolute;
  height: 30.9vh;
  width: 65.2vw;
  right: -5vw;
  bottom: 0;
}

#numage2 {
  position: absolute;
  height: 17.2vh;
  width: 28.5vw;
  right: 12vw;
  bottom: 2vh;
}

.feu {
  position: absolute;
  bottom: 0.5vh;
  right: 25vw;
  height: 15.2vh;
  width: 7.5vw;
  background-image: url(../img/spritesheet/spritesheet-feu.png);
  animation: feu 0.5s steps(19) infinite;
  aspect-ratio: 25/528;
}

@keyframes feu {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

body.is-scrolling .feu {
  animation-play-state: running;
}
/*---- FIN chapitre 4 ----*/

/*---- START chapitre 5 ----*/
#chapitre-5 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap5/fond.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#text-5 {
  position: absolute;
  text-align: right;
  color: var(--blanc);
  font-size: 5vh;
  width: 17vw;
  right: 2vw;
  height: 60vh;
  top: 1vh;
  margin: 0;
  padding: 0;
}

#bombe {
  position: absolute;
  height: 38.1vh;
  width: 13.2vw;
  bottom: 0;
  right: 15vw;
}

#kev4 {
  position: absolute;
  height: 72vh;
  width: 33.4vw;
  bottom: 0;
  left: 34vw;
}

#meteorite2 {
  position: absolute;
  height: 13.3vh;
  width: 8.3vw;
  top: 14vh;
  left: 33vw;
}

/*#volant {
  position: absolute;
  height: 22vh;
  width: 24.8vw;
  bottom: 15vh;
  left: 37vw;
}*/

.volant {
  position: absolute;
  height: 22vh;
  width: 24.8vw;
  bottom: 15vh;
  left: 35vw;
  background-image: url(../img/spritesheet/spritesheet_volant.png);
  animation: steering 0.7s steps(20) infinite;
  aspect-ratio: 2/21;
  animation-play-state: paused;
}

@keyframes steering {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

body.is-scrolling .volant {
  animation-play-state: running;
}
/*---- FIN chapitre 5 ----*/

/*---- START chapitre 6 ----*/
#chapitre-6 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap6/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#text-6 {
  color: var(--blanc);
  position: absolute;
  font-size: 7vh;
  width: 30vw;
  right: 10vw;
  top: 5vh;
  text-align: center;
}

#escalier6 {
  position: absolute;
  transform: scaleX(-1);
  bottom: 7vh;
  left: 38vw;
  height: 30.4vh;
  width: 17.4vw;
}

/*#feu6 {
  position: absolute;
  bottom: 9vh;
  right: 60.2vw;
  height: 10.6vh;
  width: 5.2vw;
}*/

.feufeu {
  position: absolute;
  bottom: 5vh;
  left: 32.6vw;
  height: 15.2vh;
  width: 7.5vw;
  background-image: url(../img/spritesheet/spritesheet-feu.png);
  animation: feu 0.5s steps(19) infinite;
  aspect-ratio: 25/528;
  animation-play-state: paused;
}

@keyframes feu {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

body.is-scrolling .feufeu {
  animation-play-state: running;
}

#kev6 {
  position: absolute;
  bottom: 4vh;
  left: 55vw;
  transform: scaleX(-1);
  height: 21.7vh;
  width: 5.1vw;
}

#explosion {
  visibility: hidden;
}

#bombeMorph {
  position: absolute;
  bottom: 5vh;
  left: 60vw;
  height: 9.1vh;
  width: 4vw;
}

#fuse6 {
  position: absolute;
  right: 55vw;
  height: 60.8vh;
  width: 15.9vw;
  bottom: 10vh;
}

#Calque_1 {
  border: 1px solid red;
  position: absolute;
  width: 5vw;
  height: 10vh;
  left: 57vw;
  bottom: 5vh;
}

#Calque_2 {
  visibility: hidden;
}
/*---- FIN chapitre 6 ----*/

/*---- START chapitre 7 ----*/
#chapitre-7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap7/espace.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#text-7 {
  color: var(--blanc);
  position: absolute;
  font-size: 7vh;
  text-align: left;
  width: 55vw;
  bottom: 2vh;
  left: 5vw;
}

.meteorite {
  position: relative;
  height: 60vh;
  width: 35vw;
  left: 25vw;
  top: 15vh;
}

#meteorite3 {
  position: absolute;
  height: 36vh;
  width: 21.5vw;
  top: 1.1vh;
  left: 0.5vw;
}

#meteorite4 {
  position: absolute;
  width: 18.4vw;
  height: 42.5vh;
  top: 4.9vh;
  right: 1vw;
}

#meteorite5 {
  position: absolute;
  height: 31.5vh;
  width: 22.3vw;
  left: 4.3vw;
  bottom: 5.3vh;
}
/*---- FIN chapitre 7 ----*/

/*------HTML SPRITESHEET------*/
#explosion_test {
  visibility: hidden;
}
#bombeMorph_test {
  position: absolute;
  bottom: 5vh;
  left: 60vw;
  height: 9.1vh;
  width: 4vw;
}
.is-scrolling {
  height: 1000px;
}

.sprite {
  height: 132px;
  width: 125px;
  background-image: url(../img/spritesheet/spritesheet-feu.png);
  animation: feu 0.5s steps(19) infinite;
  aspect-ratio: 25/528;
  animation-play-state: paused;
}

@keyframes feu {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

body.is-scrolling .sprite {
  animation-play-state: running;
}

.volant {
  height: 238px;
  width: 476px;
  background-image: url(../img/spritesheet/spritesheet_volant.png);
  animation: steering 0.7s steps(20) infinite;
  aspect-ratio: 2/21;
  animation-play-state: paused;
}

@keyframes steering {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

body.is-scrolling .volant {
  animation-play-state: running;
}

/* --- CSS FOOTER --- */
footer {
  background-color: var(--gris);
  color: var(--blanc);
  font-size: 13px;
  position: relative;
  width: 100vw;
  bottom: 0;
  padding: 15px;
  margin: 0;
}

footer p {
  text-align: center;
}
