:root {
  --rouge: #d7132d;
  --bleu: #061148;
  --gris: #292728;
  --blanc: #ffff;
  --noir: #000;

  --Madimi: "Madimi One", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  font-family: var(--Madimi);
  overflow-x: hidden;
  background-color: var(--gris);
  background-color: var(--blanc);
}

header {
  background-image: url(../img/autres/background.jpg);
  color: var(--blanc);
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

header p {
  font-size: 30px;
  margin: auto;
}

header img {
  width: 8vw;
  height: 8vh;
  margin: 0 auto;
}

header h1 {
  margin: 0px;
  margin-bottom: 20vh;
  font-size: 15vw;
}

/*---- START chapitre 1 ----*/
#chapitre-1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap1/espace.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#lune {
  width: 15vw;
  height: 30vh;
  position: absolute;
  left: 80vw;
  bottom: 35vh;
}

#terre {
  height: 60vh;
  width: 25vw;
  position: absolute;
  left: 65vw;
  bottom: 20vh;
}

#meteorite {
  position: absolute;
  height: 45vh;
  width: 25vw;
  top: 10vh;
  left: 10vw;
}
/*---- FIN chapitre 1 ----*/

/*---- START chapitre 2 ----*/
#chapitre-2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap2/fond.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#kevin {
  position: absolute;
  height: 55vh;
  width: 40vw;
  left: 30vw;
  bottom: 20vh;
}

#sofa {
  position: absolute;
  width: 50vw;
  height: 55vh;
  bottom: 1vh;
  left: 25vw;
}
/*---- FIN chapitre 2 ----*/

/*---- START chapitre 3 ----*/
#chapitre-3 {
  background-image: url(../img/elements_chap3/fond_arriere.svg);
  position: relative;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#fond_avant {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  left: 0;
}

#kev2 {
  position: absolute;
  height: 50vh;
  bottom: 5vh;
  left: 38vw;
}

#pince {
  position: absolute;
  height: 40vh;
  top: 0vh;
  left: 37.7vw;
}

#casque {
  position: absolute;
  height: 17vh;
  left: 38vw;
  bottom: 50vh;
}
/*---- FIN chapitre 3 ----*/

/*---- START chapitre 4 ----*/
#chapitre-4 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap4/fond.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#spaceship {
  position: absolute;
  height: 85vh;
  bottom: 3vh;
  right: 15vw;
}

#stairs {
  position: absolute;
  height: 40vh;
  right: 28vw;
  bottom: 3vh;
}

#feufeu {
  position: absolute;
  height: 15vh;
  width: 5vw;
  bottom: 3vh;
  right: 21.3vw;
}

#kev3 {
  position: absolute;
  height: 32vh;
  bottom: 2vh;
  left: 30vw;
}

#nuage1 {
  position: absolute;
  height: 25vh;
  width: 43vw;
  right: 3vw;
  bottom: 0;
}

#numage2 {
  position: absolute;
  height: 25vh;
  width: 43vw;
  right: 3vw;
  bottom: 0;
}
/*---- FIN chapitre 4 ----*/

/*---- START chapitre 5 ----*/
#chapitre-5 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap5/fond.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#bombe {
  position: absolute;
  height: 50vh;
  bottom: -5vh;
  right: 10vw;
}

#kev4 {
  position: absolute;
  bottom: 0;
  left: 34vw;
  height: 90vh;
}

#meteorite2 {
  position: absolute;
  height: 15vh;
  top: 5vh;
  left: 33vw;
}

#volant {
  position: absolute;
  bottom: 15vh;
  left: 34vw;
}
/*---- FIN chapitre 5 ----*/

/*---- START chapitre 6 ----*/
#chapitre-6 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap6/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

#escalier6 {
  position: absolute;
  transform: scaleX(-1);
  bottom: 3vh;
  left: 40.5vw;
  height: 40vh;
}

#feu6 {
  position: absolute;
  bottom: 9vh;
  right: 60vw;
  height: 12vh;
}

#kev6 {
  position: absolute;
  bottom: 4vh;
  left: 70vw;
  transform: scaleX(-1);
  height: 30vh;
}

#bombe6 {
  position: absolute;
  bottom: 5vh;
  left: 63vw;
  height: 10vh;
}

#fuse6 {
  position: absolute;
  right: 55vw;
  height: 70vh;
  bottom: 10vh;
}
/*---- FIN chapitre 6 ----*/

/*---- START chapitre 7 ----*/
#chapitre-7 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap7/espace.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 1px red;
}

.meteorite {
  position: relative;
  height: 66vh;
  width: 42vw;
  left: 25vw;
  top: 15vh;
}

#meteorite3 {
  position: absolute;
  height: 46vh;
  width: 28vw;
  top: 0;
  left: 0.7vw;
}

#meteorite4 {
  position: absolute;
  width: 24vw;
  height: 54vh;
  right: 1.5vw;
  top: 5vh;
}

#meteorite5 {
  position: absolute;
  height: 40vh;
  width: 28vw;
  bottom: -2.5vh;
  left: 4.9vw;
}
/*---- FIN chapitre 7 ----*/

/*------HTML SPRITESHEET------*/
.is-scrolling {
  height: 1000px;
}

.sprite {
  height: 132px;
  width: 125px;
  background-image: url(../img/spritesheet/spritesheet-feu.png);
  animation: feu 0.5s steps(19) infinite;
  aspect-ratio: 25/528;
  animation-play-state: paused;
}

@keyframes feu {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

body.is-scrolling .sprite {
  animation-play-state: running;
}

.volant {
  height: 238px;
  width: 476px;
  background-image: url(../img/spritesheet/spritesheet_volant.png);
  animation: steering 0.7s steps(20) infinite;
  aspect-ratio: 2/21;
  animation-play-state: paused;
}

@keyframes steering {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -100%;
  }
}

body.is-scrolling .volant {
  animation-play-state: running;
}

/* --- CSS FOOTER --- */
footer {
  background-color: var(--gris);
  color: var(--blanc);
  font-size: 13px;
  position: relative;
  width: 100vw;
  bottom: 0;
  padding: 15px;
  margin: 0;
}

footer p {
  text-align: center;
}
