:root {
  --rouge: #d7132d;
  --bleu: #061148;
  --gris: #292728;
  --blanc: #ffff;
  --noir: #000;

  --Madimi: "Madimi One", sans-serif;
}

html,
body {
  margin: 0px;
  font-family: var(--Madimi);
  overflow-x: hidden;
  background-color: var(--gris);
}
header {
  background-image: url(../img/autres/background.jpg);
  color: var(--blanc);
  text-align: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

header h1 {
  font-size: 15vw;
}

footer {
  font-size: 11px;
  color: var(--blanc);
  text-align: right;
}

#chapitre-1 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap1/espace.svg);
}

#chapitre-2 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap2/fond.svg);
}

#chapitre-3 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap3/fond_arriere.svg);
}

#chapitre-4 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap4/fond.svg);
}

#chapitre-5 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap5/fond.svg);
}

#chapitre-6 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap6/background.svg);
}

#chapitre-7 {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/elements_chap7/espace.svg);
}
